body
{
    margin:0px;
    padding:0px;
}

label
{
    display:inline-block;
    width:200px;
}

#conversation
{
    padding:20px;
}

#navigation
{
    background-color:#cfc;
    margin:0px;
    height:25px;
    font-size:1.4em;
    padding:2px;
    padding-right:4px;
}

#shortstats
{
    border:2px ridge #ccc;
    margin:-4px -4px 0px 0px;
}

.attentionwhore
{
    font-weight:bold;
}

.horizontal_linklist
{
    margin:0px;
    padding:0px;
}

.horizontal_linklist li
{
    display:inline;
    padding:5px;
}

.mailcontainer
{
    margin:5px 10px 5px 5px;
    background-color:#fff;
    border:#ccc 2px outset;
    padding:2px;
}
